<h2>
    Create Blog
</h2>

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">

    <meta name="author" content="themefisher.com">

    <title>Add Blog | Megakit</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="plugins/fontawesome/css/all.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/styleBlog.css">
</head>
<body>
    <div class="main-wrapper">
        <section class="section blog-wrap bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="card border-0 p-5">
                            <h4 class="mb-4">Add New Blog Post</h4>
                            <h3>${msg}</h3>
                            <form action="addBlog" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="title">Title:</label>
                                    <input type="text" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="brief">Brief Information:</label>
                                    <input type="text" class="form-control"  required>
                                </div>
                                <div class="form-group">
                                    <label for="content">Content:</label>
                                    <div id="descriptionBlog"></div>
                                </div>
                                <div class="form-group">
                                    <label for="status">Status:</label>
                                    <select class="form-control" required>
                                        <option value="0">Draft</option>
                                        <option value="1">Published</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="thumbnail">Thumbnail:</label>
                                    <input type="file" class="form-control" id="thumbnail" name="thumbnail" accept="image/*" required>
                                </div>
                                <button type="submit" class="btn btn-main btn-round-full">Add Blog</button>
                                <a href="manageBlog" class="btn btn-main btn-round-full">List Blog</a>
                            </form>

                            <div class="service">
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Internet">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/internet_1709954455.png" alt="Internet" class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Dịch vụ ăn uống ">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/n-uong_1709951568.png" alt="Dịch vụ ăn uống " class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Hoạt động">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/active_1709955560.png" alt="Hoạt động" class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="An ninh">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/an-ninh_1709952853.png" alt="An ninh" class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Ngôn ngữ sử dụng">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/languages_1709955181.png" alt="Ngôn ngữ sử dụng" class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Phương tiện ">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/car-1_1709954982.png" alt="Phương tiện " class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Lối đi dành cho người khuyết tật">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/[removalai]_f4dd571c-95a7-4733-9cc5-76d93b84cf8b-vecteezy_wheelchair-vector-icon-disabled-person-pictogram-handicap_5467075_1711003729.png" alt="Lối đi dành cho người khuyết tật" class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Phòng ngủ">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/phong-ngu_1709952783.png" alt="Phòng ngủ" class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Dịch vụ lễ tân">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/le-tan-1_1709952945.png" alt="Dịch vụ lễ tân" class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Nhà bếp">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/kitchen_1709954699.png" alt="Nhà bếp" class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Dịch vụ giặt ủi">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/giat-la_1709952665.png" alt="Dịch vụ giặt ủi" class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Tiện ích trong phòng">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/toiletries_1709954525.png" alt="Tiện ích trong phòng" class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Chỗ đậu xe">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/-xe_1709951294.png" alt="Chỗ đậu xe" class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Tổng quan">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/tong-quan_1709954174.png" alt="Tổng quan" class="img-responsive">
                                </div>
                                <div class="item-service" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Phòng tắm">
                                    <img height="20" width="20" src="https://booking.muongthanh.com/images/hotels/service/2024/03/original/bon-tam_1709952575.png" alt="Phòng tắm" class="img-responsive">
                                </div>


                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer Start -->

    </div>

    <!-- Essential Scripts -->
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <script src="js/contact.js"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://cdn.tiny.cloud/1/3dnf4g9cgv4sfog9pgz0n3f33fqrskhx8tz3ejpcmhn480gh/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '#descriptionBlog',
            height: 300,
            language: 'vi',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
            toolbar: 'undo redo | formatselect | bold italic backcolor | \
                        alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent | removeformat | help'
        });
    </script>
</body>
</html>